.dropdown-item {
  position: relative;
  margin-block: 1.25rem;
  width: 100%;
}

.dropdown-content {
  background-color: var(--secondary);
  color: var(--primary);
  font-size: 0.75rem;
  padding: 0;
  border-radius: 5px;
  visibility: hidden;
  height: 0px;
}

.dropdown-content.active {
  height: 100%;
  display: block;
  padding: 3rem 0.7rem;
  visibility: visible;
}

.dropdown-title-button {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: var(--primary);
  color: white;
  font-size: 0.8125rem;
  font-weight: 500;
  border-radius: 5px;
  padding: 0.5rem;
  letter-spacing: 0.6px;
  position: absolute;
  top: 0;
  transform: translatey(-50%);
}

.dropdown-arrow.active {
  transform: rotate(180deg);
  transition: transform 0.2s ease-in-out;
}

@media screen and (min-width: 990px) {
  .dropdown-title-button {
    font-size: 1.125rem;
    border-radius: 10px;
    padding: 0.5rem 0.75rem 0.5rem 1.25rem;
  }
  .dropdown-content {
    border-radius: 10px;
    font-size: 1.125rem;
  }

  .dropdown-content.active {
    padding: 3rem 1.25rem;
  }
}
