.gallery {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  justify-content: center;
  align-items: center;
}

.gallery-container {
  position: relative;
  height: 100%;
  /* max-width: 470px; */
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
  transition: transform 0.2s ease-out;
}
.gallery-container:hover {
  transform: scale(1.025);
}

.gallery-container::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 80%;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(0, 0, 0, 0.5) 100%
  );
  z-index: 1;
}

.gallery-item-image {
  object-fit: cover;
  opacity: 1;
  z-index: 1;
  height: 255px;
  width: 100%;
}
.gallery-item-title {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  color: white;
  z-index: 3;
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 142.6%;
  max-width: 55%;
}

@media screen and (min-width: 990px) {
  .gallery {
    background-color: var(--secondary);
    padding: 56px 50px;
    border-radius: 25px;

    flex-direction: row;
    flex-wrap: wrap;
    gap: 3.125em;
    margin-top: 2.5rem;
  }

  .gallery-container {
    max-width: 340px;
  }

  .gallery-item-image {
    height: 340px;
  }
}
