.main-block {
  width: 90%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 1240px;
  margin: 0 auto;
}

.main-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-block: 1.25rem;
}

.main-logo {
  width: 100%;
  max-width: 145px;
  height: auto;
}

.main-list {
  display: flex;
  gap: 0.625rem;
  flex-grow: 1;
  margin-left: 1em;
  white-space: nowrap;
}

.main-navlink {
  color: var(--primary);
  font-size: 0.75rem;
  text-transform: uppercase;
  font-weight: 500;
}

.main-navlink.active {
  border-bottom: 1px solid var(--primary);
}

/* footer */

.main-footer {
  margin-top: 3rem;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  padding-block: 3.875rem;
}

.main-footer-logo {
  width: 100%;
  max-width: 122px;
  height: auto;
}

.main-footer-text {
  color: white;
  font-weight: 500;
  font-size: 0.75rem;
}

@media screen and (min-width: 990px) {
  .main-navlink {
    font-size: 1.5rem;
    text-transform: capitalize;
  }

  .main-list {
    gap: 3.5625rem;
  }

  .main-logo {
    width: 100%;
    max-width: 210px;
    height: auto;
  }
  .main-footer-text {
    color: white;
    font-weight: 500;
    font-size: 1.5rem;
  }
  .main-block {
    width: 95%;
    margin: 0 auto;
  }
}
